In [1]:
a="Ishita Jain"
type(a)

str

In [5]:
fn="Ishita"
ln="Jain"
print("My name is {} {}".format(fn,ln))

My name is Ishita Jain

In [6]:
len(a)

11

In [7]:
type([1,2,3,4])

list

what all langauges are used in machine learning?
python
java
julia
R
Scala

why python is most popular langauge in ml?
syntax of python is very easy
have multiple libraries and framework

some of the products 
amazon alexa
google assistant
recommendation system

string inbuilt functions all of them return boolean function 
.isalnum()
.isdigit()
.istitle()
.isupper()
.islower()
.isspace()

In [8]:
True and True

True

In [10]:
True or False

True

# list
list is a mutable ie can change an item in a list by accessing it directly.

some inbuild function in list
len - to find length of the list
.append() - to append new elements at the end of the list
.insert(position,item)- use to add at specific position
.extend() - if we add multiple elements in the form of dictionary it does not append in the form of dictionary but this not happen in case of append function.

In [4]:
a=[1,2,3]
a.append(["ishita","jain"])
a

[1, 2, 3, ['ishita', 'jain']]

In [2]:
a.insert(1,"ABC")
a

[1, 'ABC', 2, 3, 'ishita']

In [5]:
a.extend([1,2])
a

[1, 2, 3, ['ishita', 'jain'], 1, 2]

Various operations
sum(name of the list) - sum of all elements
list.pop() - return last element of the list and pop out it.
list.pop(0) - pop the first element
list.count(any element) - count the number of times that element comes.
list.index() - return the index of first occurence 
min(list)
max(list)

In [6]:
l=[1,2,3,4,5]
sum(l)

15

In [8]:
l=[1,2,3,"ishita"]
sum(l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
l=[1,2,3,4,'a']
sum(l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
l.pop()

'a'

In [11]:
l

[1, 2, 3, 4]

In [12]:
l.pop(0)

1

In [13]:
l

[2, 3, 4]

In [19]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [21]:
lst.index(1)

0

In [22]:
min(lst)

1

In [24]:
max(lst)

5

In [25]:
lst*2

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

# sets
sets are unorder collection of datatype mutable and has no duplicate elements.set does not support indexing.

In [26]:
s={1,2,3,"ishita"}
s[0]

TypeError: 'set' object is not subscriptable

In [29]:
s={1,2,3,"ishita"}
s

{1, 2, 3, 'ishita'}

In [2]:
s={'a','b','c',1}
s

{1, 'a', 'b', 'c'}

In [3]:
#to add the new element in the set
s.add(2)
s

{1, 2, 'a', 'b', 'c'}

In [ ]:
#set have many different inbuilt functions if we write set name.and press tab key all are listed there

In [9]:
s1={1,2,3,4,5}
s2={1,2,3,4}
print(s1.difference(s2))
print(s1)
print(s2)

{5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [12]:
s1={1,2,3,4,5}
s2={1,2,3,4}
print(s1.difference_update(s2))
print(s1)
print(s2)

None
{5}
{1, 2, 3, 4}

# Dictionaries 
dictionary is unordered,changeable and indexed .It has key value pairs.

In [13]:
d={1:"Mon",2:"Tue",3:"Wed",4:"Thus",5:"Fri",6:"Sat",7:"Sun"}
d

{1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 'Thus', 5: 'Fri', 6: 'Sat', 7: 'Sun'}

In [14]:
for i in d:
    print(i)

1
2
3
4
5
6
7

In [16]:
for i in d.values():
    print(i)

Mon
Tue
Wed
Thus
Fri
Sat
Sun

In [17]:
for i in d.keys():
    print(i)

1
2
3
4
5
6
7

In [18]:
for i,j in d.items():
    print(i,j)

1 Mon
2 Tue
3 Wed
4 Thus
5 Fri
6 Sat
7 Sun

In [21]:
#change the value of a specific key.
d[4]=40
d

{1: 'Mon', 2: 'Tue', 3: 'Wed', 4: 40, 5: 'Fri', 6: 'Sat', 7: 'Sun'}

# Nested Dictionary

In [27]:
a={'a':'A'}
b={'b':'B'}
c={'c':'C'}
d={1:a,2:b,3:c}
d

{1: {'a': 'A'}, 2: {'b': 'B'}, 3: {'c': 'C'}}

In [28]:
#accessing the item in dictionary
d[1]

{'a': 'A'}

In [30]:
d[1]['a']

'A'

# Tuples
non mutable

In [31]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [ ]:
#tuple have two inbuilt functions

In [32]:
t.count(1)

1

In [33]:
t.index(4)

3