# One sample T test

In [1]:
ages=[10,20,35,50,28,40,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [2]:
len(ages)

29

In [3]:
#calculating mean of whole population
import numpy as np
ages_mean = np.mean(ages)
ages_mean

30.413793103448278

In [4]:
#Now take a sample from the the ages and computing their ages.
#lets take sample

sample_size=10
ages_sample=np.random.choice(ages,sample_size)

In [5]:
ages_sample

array([18, 19, 30, 30, 21, 35, 65, 28, 28, 18])

In [6]:
from scipy.stats import ttest_1samp

In [7]:
ttest,p_value = ttest_1samp(ages_sample,30)

In [8]:
p_value

0.8597227165145309

In [9]:
#My null hypothesis is there is no difference in the mean of ages
#And alternate hypothesis is there is a difference in the mean of ages.
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Accept the null hypothesis

In [10]:
#Other example

In [11]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
#rvs is the method of poisson distribution it is random variates
# variate - a quantity having a numerical value for each member of a group
#loc is the left end point and default value is 0
#mu is the mean of the function
#size is the sample size
school_ages = stats.poisson.rvs(loc=18,mu=35,size=1500)#population
classA_ages = stats.poisson.rvs(loc=18,mu=30,size=60)

In [12]:
classA_ages.mean()

46.9

In [13]:
school_ages.mean()

53.303333333333335

In [14]:
ttset , p_value = ttest_1samp(classA_ages, school_ages.mean())

In [15]:
p_value

1.139027071016194e-13

In [16]:
#My null hypothesis is there is no difference in the mean of ages
#And alternate hypothesis is there is a difference in the mean of ages.
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Reject the null hypothesis

# Two sample T test

In [17]:
# take another class B
classB_ages = stats.poisson.rvs(loc=18,mu=33,size=60)
classB_ages.mean()

50.68333333333333

In [18]:
_,P_value = stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)

In [19]:
P_value

0.00030935839774215933

In [20]:
#My null hypothesis is there is no difference in the mean of ages
#And alternate hypothesis is there is a difference in the mean of ages.
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Reject the null hypothesis

# Paired T test

In [21]:
#when you want to check how different samples from the group are, you can go for a paired T-test

In [22]:
weight1 = [26,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
#scale specify the standard deviation
#loc specify the mean
weight2 = weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [23]:
print(weight1)
print(weight2)

[26, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[24.05339813 22.31769305 23.45834972 26.64869425 30.28145396 34.63232004
 16.51491535 28.02824248 32.13278326 23.37247705 26.25327636 24.8162077
 25.07676606 27.8542075  34.24205326]

In [24]:

weight_df = pd.DataFrame({"weight_10":np.array(weight1),
                           "weight_20":np.array(weight2),
                            "weight_change":np.array(weight2)-np.array(weight1)})

In [25]:
weight_df

    weight_10  weight_20  weight_change
0          26  24.053398      -1.946602
1          30  22.317693      -7.682307
2          28  23.458350      -4.541650
3          35  26.648694      -8.351306
4          28  30.281454       2.281454
5          34  34.632320       0.632320
6          26  16.514915      -9.485085
7          29  28.028242      -0.971758
8          30  32.132783       2.132783
9          26  23.372477      -2.627523
10         28  26.253276      -1.746724
11         32  24.816208      -7.183792
12         31  25.076766      -5.923234
13         30  27.854208      -2.145792
14         45  34.242053     -10.757947

In [26]:
ttest, p_value = stats.ttest_rel(a=weight1,b=weight2)

In [27]:
p_value

0.00288079766277428

In [28]:
#My null hypothesis is there is no difference in the mean of ages
#And alternate hypothesis is there is a difference in the mean of ages.
if p_value < 0.05:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Reject the null hypothesis